body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.fadeout {
  position: absolute;
  width: 100%;
  height: 100vh;
  padding-left: 0%;
  padding-right: 0%;
  padding-bottom: 0%;
}

.fadeout {
  position: relative;
  width: 100%;
  height: 56em;
  bottom: 0;
  background: linear-gradient(to top, black, transparent);
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
}

div#rain {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: clip;
  background-image: url(Images/rain.png);
  animation: rain 0.4s linear infinite;
}

section div#rain::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(Images/lightningBright.png);
  animation: lightning 0.4s linear infinite;
  opacity: 0;
}

@keyframes rain {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 50% 100%;
  }
}

img#lightning {
  animation: lightning 2s linear infinite;
}

@keyframes lightning {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  12% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  21% {
    opacity: 2;
  }
  23% {
    opacity: 0;
  }
  24% {
    opacity: 0;
  }
  14% {
    opacity: 0;
  }
  104% {
    opacity: 0;
  }
}

img#ghost {
  animation: ghost 2s ease infinite;
}

@keyframes ghost {
  100% {
    transform: translateY(-7px);
  }
  50% {
    transform: translateY(8px);
  }
  0% {
    transform: translateY(-7px);
  }
}
