body {
  background-color: black;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: white;
}

section {
  position: relative;
  width: 100%;
  height: 110vh;
  padding: 100px;
}

.spoopy {
  color: white;
  z-index: 2000;
}

.hauntedHouse {
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section img#ghost {
  animation: float 2s linear infinite;
}

.fadeout {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50em;
  background: linear-gradient(to top, black, transparent);
}

/*animation and keyframes*/

@keyframes float {
  100% {
    transform: translateY(-7px);
  }
  50% {
    transform: translateY(8px);
  }
  0% {
    transform: translateY(-7px);
  }
}
